:global(.leaflet-container) {
    background: linear-gradient(180deg, #344268 0%, #618EAC 100%);
}

.mapWrap {
    position: relative;
    width: 100%;
    height: 100vh;
}



.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 200px;
    align-items: center;
    margin: 10px 0 0 80px;
    z-index: 1000;

    h1>a {
        font-size: 32px;
        color: #000000;
    }
}

.ul {
    display: flex;
    font-size: 20px;
    gap: 36px;

    li {
        background-color: #FFF;
        padding: 8px;
        border-radius: 50px;

        button {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.geo {
    position: absolute;
    right: 12px;
    bottom: 12px;
    z-index: 1000;
    margin-top: 8px;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 12px;
    color: rgb(0, 0, 0);
}