:global(.leaflet-container) {
    background: linear-gradient(180deg, #344268 0%, #618EAC 100%);
}



.header {
    display: flex;
    gap: 200px;
    align-items: center;
    margin: 30px 0 0 80px;
    background-color: #344268;
    z-index: 100;

    h1>a {
        font-size: 32px;
        color: #FFF;
    }
}

.ul {
    display: flex;
    font-size: 20px;
    gap: 36px;

    li {
        background-color: #FFF;
        padding: 8px;
        border-radius: 50px;

        button {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.geoBox {
    margin-top: 8px;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 12px;
    color: aqua;
}